<div class="footer-ab">
    <img src="/assets/image/logo2.png" alt="airzone-logo" width="400">
    <div class="row">
        <div class="col-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda provident repellat consequatur distinctio aliquid et eveniet, ipsa inventore ipsam, architecto optio officiis porro modi ut, qui possimus. Aspernatur, officia cupiditate.</p>
            <a href="tel:+911234567890">+911234567890</a>
            <a href="mailto:info@airzone.com">info@airzone.com</a>
            <a href="https://www.airzone.com/">www.airzone.com</a>
        </div>
        <div class="col-2">
            <h1>Pages</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h1>Sections</h1>
            <ul>
                <li><a href="#">Popular Destination</a></li>
                <li><a href="#">Popular Tour</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h1>Services</h1>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Download Ticket</a></li>
                <li><a href="#">Best Flights</a></li>
                <li><a href="#">Book a Trip</a></li>
            </ul>
        </div>
    </div>
    <h6 style="text-align: center;">© 2024 <a href="https://azoraads.com">Azora Ads</a>. All rights reserved.</h6>
</div>