
  <div class="footer-ab">
    <img src="/assets/image/logo2.png" alt="airzone-logo" width="400" />
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12">
        <p class="col-10" style="text-align: justify;">
          Airzone Travel is a travel agency specializing in providing guaranteed low airfare combined with excellent service and care. With over 20 years of experience, the company offers travel options for destinations worldwide, including Nepal, India, Asia, and Europe. Airzone Travel also provides additional services such as visa processing, travel insurance, and visitor health insurance to enhance the customer experience.
        </p>
        <a href="tel:+911234567890">+911234567890</a>
        <a href="mailto:info@airzone.com">info@airzone.com</a>
        <a href="https://www.airzone.com/">www.airzone.com</a>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Pages</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Sections</h1>
        <ul>
          <li><a href="#">Popular Destination</a></li>
          <li><a href="#">Popular Tour</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Services</h1>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Download Ticket</a></li>
          <li><a href="#">Best Flights</a></li>
          <li><a href="#">Book a Trip</a></li>
        </ul>
      </div>
    </div>
    <h6 style="text-align: center">
      © 2024 <a href="https://azoraads.com">Azora Ads</a>. All rights reserved.
    </h6>
  </div>
</div>
