
  <div class="footer-ab">
    <img src="/assets/image/logo.png" alt="airzone-logo" width="400" />
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12">
        <p class="col-10" style="text-align: justify;">
          TOUR PACKAGE | CERTIFICATE ATTESTATION | PASSPORT | VISITING VISA | TRAVEL INSURANCE | AIRLINE TICKETS | HOTEL & RESORT BOOKING
        </p>
        <a href="tel:+918304009002">+918304009002</a>
        <a href="mailto:airzonemgt@gmail.com">airzonemgt@gmail.com</a>
        <a href="https://www.airzone.com/">www.airzone.com</a>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Pages</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Sections</h1>
        <ul>
          <li><a href="#">Popular Destination</a></li>
          <li><a href="#">Popular Tour</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-12" style="margin-top: 10px">
        <h1>Services</h1>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Download Ticket</a></li>
          <li><a href="#">Best Flights</a></li>
          <li><a href="#">Book a Trip</a></li>
        </ul>
      </div>
    </div>
    <h6 style="text-align: center">
      © 2024 <a href="https://azoraads.com">Azora Ads</a>. All rights reserved.
    </h6>
  </div>
</div>
